.footerList {
    display: flex;
    flex-flow: wrap;
    font-size: 28px;
    justify-content: start;
    align-items: center;
    padding: 5% 5% 2% 5%;
}

.footerList li{
    text-decoration: none;
    color: #FFF;
    width: 23%;
    margin-bottom: 1%;
}

.footerList a{
    text-decoration: none;
    color: #FFF;
}

.icons {
    display: flex;
    padding-top: 3%;
    margin-left: 3%;
    align-items: center;
}

.icon{
    margin-left: 2%;
}

.footerLogo {
    height: 15%;
    width: 15%;
    margin-left: 60%;
}

.end {
    display: flex;

    align-items: flex-start;
}

.store {
    margin-left: 20%;
}

.copy {
    font-size: 14px;
    color: #FFF;
    margin-top: 3%;
    margin-left: 5%;
}

@media (max-width: 760px) {
    footer {
        display: none;
    }
}