* {margin: 0; padding: 0;}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

main {
    background-color: #000;
}

footer {
    background-color: #353839;
}

.carrossel-principal {
    padding-top: 80px;
}

[data-anime] {
    opacity: 0;
    transition: .5s;
}

[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anime="fixed"] {
    transform: translate3d(0px,0px,0px);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px,0px,0px);
}